a:hover {
  color: rgb(243, 8, 8);
}
a:active {
  font-size: 20px;
}

a:link {
  color: rgb(8, 243, 20);
}
a:visited {
  color: rgb(255, 238, 0);
}
p:first-letter {
  font-size: 30px;
  color: rgb(158, 10, 172);
  font-family: cursive;
}
p::first-line {
  font-size: 30px;
  color: darkblue;
  font-family: cursive;
}
input:focus {
  background-color: darkmagenta;
  border-radius: 20px;
  border-color: rgb(221, 0, 0);
}
.test:before {
  content: "some test text";
  color: rgb(13, 185, 13);
}

.test:after {
  content: "some test text";
  font-size: 20px;
  color: rgb(13, 185, 13);
}

p::selection {
  color: deepskyblue;
  background-color: indigo;
}
